<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
</head>
<body>
    <h1>Change Password</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.current_password.label }}<br>
            {{ form.current_password(size=32) }}
        </p>
        <p>
            {{ form.new_password.label }}<br>
            {{ form.new_password(size=32) }}
        </p>
        <p>
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>