{% extends 'layout.html' %}

{% block body %}
<div class="container content">
  <div class="card bg-light" style="max-width: 600px; margin: auto;">
    <article class="card-body mx-auto" style="width: 100%;">
      <h4 class="card-title mt-3 text-center">密码更改</h4>

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} text-center">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      <form action="/change-password" method="post">
        <div class="form-group">
          {{ form.old_password.label }}
          {{ form.old_password(class="form-control") }}
        </div>

        <div class="form-group">
          {{ form.new_password.label }}
          {{ form.new_password(class="form-control") }}
        </div>

        <div class="form-group">
          {{ form.confirm.label }}
          {{ form.confirm(class="form-control") }}
        </div>

        <div class="form-group text-center">
          <input type="submit" value="更改密码" class="btn btn-primary">
        </div>
      </form>

    </article>
  </div>
</div>
{% endblock %}

